/* ---- Colors ---- */

$color-gray-1: #58585a;
$color-gray-2: #888383;
$color-gray-3: #bcb9b9;
$color-gray-3b: #dcddde;
$color-gray-4: #e7e9e0;
$color-gray-5: #e6e6e6;
$color-gray-6: #e7e7e8;

$color-blue: #1f336c;
$color-brown: #82796d;
$color-red: #ed145b;
$color-pink: #ed145b;
$color-green: #dbf0f0;

$color-white: #ffffff;
$color-black: #000000;

/* ---- Fonts ---- */

$font-family-light: "ropa_soft_prolight", sans-serif;
$font-family-light-italic: "ropa_soft_prolight_italic", sans-serif;
$font-family-regular: "ropa_soft_proregular", sans-serif;
$font-family-italic: "ropa_soft_proitalic", sans-serif;
$font-family-bold: "ropa_soft_proextrabold", sans-serif;
$font-family-bold-italic: "ropa_soft_proextrabold_italic", sans-serif;

$font-size-1: 25px; // Heading Body 1 - 60px
$font-size-2: 24px; // Heading Body 2 - 58px
$font-size-3: 21px; // Heading Body 3 - 50px
$font-size-4: 19px; // Slide - 46px
$font-size-5: 14px; // Heading Body Small - 28px
$font-size-6: 16px; // Body - 38px
$font-size-7: 12px; // Body Small - 22px
